.filter {
	position: relative;

	&__title {
		font-size: 20px;
		margin-bottom: 32px;
	}

	&__reset {
		position: absolute;
		top: 7px;
		right: 0;
		color: #ccc;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&__fieldset {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	&__legend {
		margin-bottom: 12px;
	}

	&__select {
		width: 100%;
	}

	&__range {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}

	&__label:not(:last-child) {
		margin-bottom: 8px;
	}

	&__input {
		flex: 1 1 50%;
		width: 100%;
		padding: 8px 16px;
		border: 0;
		outline: none;

		&::placeholder {
			color: #ccc;
		}
	}

	&__checkboxes {
		display: flex;
		flex-direction: column;
		gap: 34px;
	}

	&__btn {
		padding: 8px 24px;
		border-radius: 4px;
		background-color: #A6ADFF;
	}
}
