.header {
	padding: 40px 0;


	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {
		padding: 12px 32px;

		border-radius: 8px;
		background-color: #A6ADFF;

		font-size: 20px;
	}
}

