.hero {
	padding: 60px 0 50px;

	&__container {
		position: relative;
		padding: 57px 0;

		&::after {
			content: '';
			position: absolute;
			right: -8px;
			top: 0;
			width: 421px;
			height: 330px;
			background: url('../../img/laptop.png') no-repeat center/contain;
		}
	}

	&__title {
		max-width: 780px;
		font-size: 90px;
		letter-spacing: 1.8px;
		text-transform: uppercase;
	}
}

